section {
  color: red;
  background: white;
  height : 960px;
  opacity: 0.5;
  transition: 2s all;
  transition: 10s all;
  width : 960px;
  

}

section:hover {

  background: red;
  color: black;
  height : 150px;
  opacity: 1;
  width : 960px;
  

}


h1 {
  
  font-family: 'Audiowide', cursive;
  font-size: 50px;
  padding-top: 0px;
  text-align: center;
  text-shadow: 7px 7px 1px rgb(247, 246, 246);

}

.seattle {
  
  border: solid 10px rgb(95, 91, 91);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(3, 8, 19);
  height: 280px;
  margin: 2px;
  object-fit: scale-down;
  opacity: .7;
  position: relative;
  margin: 0px 9px 0px 9px;
  text-shadow: 5px;
  width: 280px;
}

.seattle:hover {
  
  border: solid 10px rgb(247, 56, 56);
  border-radius: 50px;
  opacity: 1;
  nav-index: auto;
  box-shadow: 5px 5px 5px rgb(86, 136, 230);
  transition-delay: 0.5s;
  transition: 1s all;
}

#video {
  height: auto;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  opacity: 0.4;
  position: fixed;
  right: 0; 
  width: auto; 
  z-index: -999;    
}