
section {
  color: red;
  background: transparent;
  border-radius: 20px;
  height : 960px;
  margin-top: 20px;
  opacity: 0.5;
  transition: 999990s all;
  width : 960px;
  
}

section:hover {

  border-radius: 20px;
  color: transparent;
  height : 200px;
  opacity: 1;
  transition: 2s all;
  transition-duration: 15sn;
  transition-property: height;
  width : 960px;
   
}


section:before {
  content: '';
  background: linear-gradient(45deg, #f12d2d, red, #f12d2d, rgb(250, 250, 250), #f12d2d,red, red);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 50s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

section:active {
  color: transparent;
}

section:active:after {
  background: transparent;
}

section:hover:before {
  opacity: 1;
}

section:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


h1 {
  
  color: white;
  font-family: 'Audiowide', cursive;
  font-size: 50px;
  padding: 20px;
  text-align: center;
  text-shadow: 4px 4px 1px red;

}

h2 {
  
  font-family: 'Audiowide', cursive;
  font-size: 2vw;
  padding: 25px;
  text-align: center;
  

}

h2:hover {

  color: transparent;
  font-size: 0vw;
  opacity: 0;
  transition: 999990s all;
}

div {
  
  border: solid 10px white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(3, 8, 19);
  display: inline-block;
  height: 280px;
  margin: 2px;
  object-fit: scale-down;
  opacity: 0.5;
  position: relative;
  margin: 0px 9px 0px 9px;
  text-shadow: 5px;
  width: 277px;
}

div:hover {
  
  border: solid 10px rgb(247, 56, 56);
  cursor: grab;
  opacity: 1;
  nav-index: auto;
  box-shadow: 5px 5px 5px rgb(86, 136, 230);
  transition-delay: 0.5s;
  transition: 1s all;
  box-shadow:
  inset 0 0 50px #fff,      
  inset 20px 0 80px red,   
  inset -20px 0 80px rgb(236, 60, 54),  
  inset 20px 0 300px red,  
  inset -20px 0 300px rgb(224, 84, 74), 
  0 0 50px #fff,            
  -10px 0 80px red,        
  10px 0 80px rgb(228, 60, 60);     
}

.mainMenu {

  border: transparent;
  height: 280px;
  left: 0;
  object-fit: scale-down;
  position: absolute;
  top: 0;
  width: 277px;
}



span {

  background: rgb(8, 245, 245);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 0;
  box-sizing: border-box;
  font-family: 'Audiowide', cursive;
  font-weight: bold;
  font-size: 20px;
  opacity: 0.7;
  padding: 10px;
  position: absolute;
  text-align: center;
  width : 100%;

}

article {

  
  padding-top: 40px;
}

p {
   
  font-family: 'Audiowide', cursive;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  
}

.media {

 border-radius: 5px;
 margin: 5px;
 
}

#video {
  height: auto;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  opacity: 0.3;
  position: fixed;
  right: 0; 
  width: auto; 
  z-index: -999;    
}

footer {

  margin-top: 100px;
}

#footerP {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10px;
  text-align: left;

}

ul{
  position:absolute;
  top:630px;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  display:flex;
  
}
ul li{
  list-style:none;
  width:40px;
  height:40px;
  background:#fff;
  border-radius:10%;
  margin: 20px;
  padding: 2px;
  animation:grow 6s ease-in-out infinite;
}
  @keyframes grow
  {
    0% , 40% , 100%
    {
      transform:scale(0.8);
    }
    20%{
       transform:scale(1.5);

    }
  }

ul li:nth-child(1){
  animation-delay:-5s;
  background:#ffff00;
  box-shadow:0 0 50px #ffff00;
  
}
ul li:nth-child(2){
  animation-delay:-4s;
  background:#76ff03;
  box-shadow:0 0 50px #76ff03;
  
}
ul li:nth-child(3){
  animation-delay:-3s;
  background:#f06292;
  box-shadow:0 0 50px #f06292;
  
}
ul li:nth-child(4){
  animation-delay:-2s;
  background:#4fc3f7;
  box-shadow:0 0 50px #4fc3f7;
  
}
ul li:nth-child(5){
  animation-delay:-1s;
  background:#ba68c8;
  box-shadow:0 0 50px #ba68c8;
  
}
ul li:nth-child(6){
  animation-delay:-0.4s;
  background:#f57c00;
  box-shadow:0 0 50px #f57c00;
  
}
ul li:nth-child(7){
  animation-delay:-0.2s;
  background:#673ab7;
  box-shadow:0 0 50px #673ab7;
  
}