
form {

  border: solid 0.5vw  #fff;
  border-radius: 1vw;
  

}


h1 {
  
  color: white;
  font-family: 'Audiowide', cursive;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  text-shadow: 4px 4px 1px red;

}

h2 {
  
  font-family: 'Audiowide', cursive;
  font-size: 1vw;
  padding: 10px;
  text-align: center;
  

}

P {
  font-family: 'Audiowide', cursive;
  font-size: 0.9vw;

}
ul{
  position:absolute;
  top:700px;
  left:70%;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  display:flex;
  
}
ul li{
  list-style:none;
  width:80px;
  height:40px;
  background:#fff;
  border-radius:10%;
  margin: 20px;
  padding: 2px;
  animation:grow 6s ease-in-out infinite;
}
  @keyframes grow
  {
    0% , 40% , 100%
    {
      transform:scale(0.8);
    }
    20%{
       transform:scale(1);

    }
  }

ul li:nth-child(1){
  font-family: 'Audiowide', cursive;
  font-size: 0.9vw;
  animation-delay:-5s;
  background:#f57c00;
  box-shadow:0 0 50px #f57c00;
  text-align: center;
  
}
ul li:nth-child(2){
  font-family: 'Audiowide', cursive;
  font-size: 0.9vw;
  animation-delay:-2s;
  background:#4fc3f7;
  box-shadow:0 0 50px #4fc3f7;
  text-align: center;
  
}


#video {
  height: auto;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  opacity: 0.4;
  position: fixed;
  right: 0; 
  width: auto; 
  z-index: -999;    
}
