body {
  float: center;
  margin: 0 auto;
  width: 960px;
}

header {
  float: left;
  text-align: center;
}

.seattle {
  
  border: solid 10px rgb(95, 91, 91);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(3, 8, 19);
  height: 280px;
  margin: 2px;
  object-fit: scale-down;
  opacity: .7;
  position: relative;
  margin: 0px 9px 0px 9px;
  text-shadow: 5px;
  width: 277px;
}

.seattle:hover {
  
  border: solid 10px rgb(247, 56, 56);
  border-radius: 50px;
  opacity: 1;
  nav-index: auto;
  box-shadow: 5px 5px 5px rgb(86, 136, 230);
  transition-delay: 0.5s;
  transition: 1s all;
  box-shadow:
  inset 0 0 50px #fff,      
  inset 20px 0 80px red,   
  inset -20px 0 80px rgb(236, 60, 54),  
  inset 20px 0 300px red,  
  inset -20px 0 300px rgb(224, 84, 74), 
  0 0 50px #fff,            
  -10px 0 80px red,        
  10px 0 80px rgb(228, 60, 60);     
}
